body {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    box-shadow: 1px 8px 61px 0px rgba(22, 28, 51, 0.08);
    -webkit-box-shadow: 1px 8px 61px 0px rgba(22, 28, 51, 0.08);
    -moz-box-shadow: 1px 8px 61px 0px rgba(22, 28, 51, 0.08);
    padding: 20px 0 20px 0;
}

.navbar .navbar-nav .nav-link {
    color: #728196;
    font-weight: 400;
    padding-left: 30px;
}

.navbar .navbar-nav .active {
    color: #2B3E74 !important;
    font-weight: 500;
  }

.navbar .navbar-nav .nav-item {
    float: right;
}

.nav-item {
    font-weight: 400;
}

.navbar-brand {
    font-weight: 600;
}

.btn-master, .btn-primary, .btn-secondary {
    padding: 11px 30px 11px 30px;
    border-radius: 100px;
    border: 0;
    font-weight: 500;
}

.btn-primary {
    background: #2B3E74;
    color: #fff;
}

.btn-primary:hover {
    background: #3F58A1;
}

.hero {
    margin-top: 100px;
}

.hero-left {
    padding-top: 100px;
}

.hero-header {
    font-weight: 600;
    font-size: 32px;
    color: #1E2330;
}

.hero-text {
    width: 500px;
    line-height: 1.8;
    font-weight: 500;
    font-size: 14px;
    color: #728196;
}

.benefit {
    margin-top: 150px;
    margin-bottom: 50px;
}

.benefit-left {
    padding-top: 100px;
    padding-left: 50px;
}

.benefit-header {
    font-weight: 600;
    font-size: 32px;
    color: #1E2330;
}

.benefit-text {
    font-weight: 600;
    font-size: 28px;
    color: #1E2330;
}

.benefit-subtext {
    width: 500px;
    font-weight: 500;
    font-size: 14px;
    color: #728196;
}

.contact-header {
    font-weight: 600;
    font-size: 30px;
    color: #1E2330;
}

.contact-img {
    margin-top: -65px;
    margin-left: 15px;
}